<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
{{>nav}}
    <h2>
      <u style="text-decoration-color: red">Delta Poll Booth for T-shirt</u>
    </h2>
    <!-- Photo Grid -->
    <div class="container">
        <img class="item" src="Tshirt_front1.png" alt="Example image">
        <img class="item" src="Tshirt_back1.png" alt="Example image">
        <img class="item" src="Tshirt_front2.png" alt="Example image">
        <img class="item" src="Tshirt_back2.png" alt="Example image"> 
        <img class="item" src="Tshirt_front3.png" alt="Example image">
        <img class="item" src="Tshirt_back3.png" alt="Example image">     
     </div>
     <span>SignUp to poll for your best favourite T-Shirt</span><br><br><br>
{{>footer}}
    <script src="script.js"></script>
  </body>
</html>
