.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    background-color: black;
}
.item {
    margin: 5px;
    width: 30%;
}
span{
    color: white;
    font-size: 35px;
    font-family:cursive;
    text-align: center;
}